## Darsh Gupta 20BEC0563

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import sklearn as sk

In [3]:
data = pd.read_csv("/Users/darshgupta/Desktop/Winter Sem/IOT Domain Analyst/LAB/Task 1/pima-indians-diabetes.csv")

In [4]:
data

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [5]:
#Binarizing column with header '6' with threshold 4
data['6']=(data['6']>=4).astype(int) #This converts the data of column '6' into 0 if the value is lesser than 4, else it becomes 1.

In [6]:
#Standardizing column with header '148' using z-score. (data-data_min)/data_std_dev
data['148']=(data['148']-data['148'].mean())/data['148'].std()
#Data Labelling - Renamin Columns

In [8]:
data.rename(columns={'6':'Pregnancies','148':'Glucose','72':'BP','35':'Skin Thickness','0':'Insulin','33.6':'BMI','0.627':'Diabetes Pedigree Fn.','50':'Age','1':'Class'})

,Pregnancies,Glucose,BP,Skin Thickness,Insulin,BMI,Diabetes Pedigree Fn.,Age,Class
0,0,-1.121354,66,29,0,26.6,0.351,31,0
1,1,1.943208,64,0,0,23.3,0.672,32,1
2,0,-0.996270,66,23,94,28.1,0.167,21,0
3,0,0.504740,40,35,168,43.1,2.288,33,1
4,1,-0.151952,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,1,-0.621018,76,48,180,32.9,0.171,63,0
763,0,0.035674,70,27,0,36.8,0.340,27,0
764,1,0.004403,72,23,112,26.2,0.245,30,0
765,0,0.160758,60,0,0,30.1,0.349,47,1
766,0,-0.871186,70,31,0,30.4,0.315,23,0